<header class="bg-white py-[10px]">
    <div class="max-w-[1440px] h-[79px] mx-auto flex justify-between items-center">
        <!-- Logo and Brand Name -->
        <div class="logo">
            <img src="assets//images/logo.png" alt="TTC Logo" class="h-[79px]">
        </div>
        <!-- Navigation Links -->
        <div class="menu">
            <nav class="hidden md:flex space-x-8 text-gray-600">
                <a href="#"
                    class="text-blue-900 font-semibold hover:text-blue-700 font-nunito text-lg text-customBlue">Home</a>
                <a href="#" class="hover:text-customBlue font-nunito text-lg text-customGray">About Us</a>
                <a href="#" class="hover:text-customBlue font-nunito text-lg text-customGray">Products</a>
                <a href="#" class="hover:text-customBlue font-nunito text-lg text-customGray">Blog</a>
                <a href="#" class="hover:text-customBlue font-nunito text-lg text-customGray">Contact Us</a>
            </nav>
        </div>
        <!-- Enquire Now Button -->
        <div class="">
            <a href="#enquire"
                class="w-[186px] h-[50px]  p-[13px_22px_13px_22px] gap-2 rounded-[10px] border border-[rgba(234,110,0,1)] border-opacity-0 bg-[rgba(0,36,105,1)] flex font-nunito text-[17px] font-bold leading-[16px] text-left justify-items-center items-center text-white">
                Enquire Now
                <span class=""><img src="assets/images/Frame.png" alt=""></span>
            </a>
        </div>
    </div>
</header>